apiVersion: v1
kind: Namespace
metadata:
  name: argocd
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argocd 
  namespace: argocd
spec:
  chart: argo-cd
  version: "7.7.3"
  repo: https://argoproj.github.io/argo-helm/
  valuesContent: |-
    repoServer:
      autoscaling: 
        # -- Enable Horizontal Pod Autoscaler ([HPA]) for the Argo CD repo server
        enabled: true
        # -- Minimum number of replicas for the Argo CD repo server [HPA]
        minReplicas: 1
        # -- Maximum number of replicas for the Argo CD repo server [HPA]
        maxReplicas: 3
        targetCPUUtilizationPercentage: 75
        # -- Average memory utilization percentage for the Argo CD repo server [HPA]
        targetMemoryUtilizationPercentage: 75
    server:
      autoscaling: 
        # -- Enable Horizontal Pod Autoscaler ([HPA]) for the Argo CD server
        enabled: true
        # -- Minimum number of replicas for the Argo CD server [HPA]
        minReplicas: 1
        # -- Maximum number of replicas for the Argo CD server [HPA]
        maxReplicas: 3
        targetCPUUtilizationPercentage: 75
        # -- Average memory utilization percentage for the Argo CD server [HPA]
        targetMemoryUtilizationPercentage: 75
      ingress:
        enabled: true
        annotations:
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
          nginx.ingress.kubernetes.io/ssl-passthrough: "true"
          kubernetes.io/ingress.class: "nginx" 
          nginx.ingress.kubernetes.io/ssl-redirect: "true"
          nginx.ingress.kubernetes.io/rewrite-target: /
        ingressClassName: "nginx"
        tls: false
    global: 
      domain: "{{ argocd_domain }}"